<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.letv.wallet"
    android:versionCode="10002"
    android:versionName="1.0.2"
    android:sharedUserId="com.letv.uid.walletpay">

    <uses-sdk
        android:minSdkVersion="23"
        android:targetSdkVersion="24" />

    <uses-permission android:name="android.permission.MANAGE_NETWORK_POLICY" />

    <application
        android:name=".PayApplication"
        android:screenOrientation="portrait"
        android:theme="@android:style/Theme.Translucent">
        <activity
            android:name=".LePayEntryActivity"
            android:configChanges="locale|layoutDirection|fontScale"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent">
            <intent-filter>
                <action android:name="android.intent.action.LE_PAYENTRYACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".setting.activity.SettingActivity"
            android:label="@string/setting_label"
            android:screenOrientation="portrait"
            android:theme="@style/SettingTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:host="setting"
                    android:scheme="lepay"></data>
            </intent-filter>
        </activity>
        <activity
            android:name=".setting.activity.SettingWebActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/SettingWebTheme" />
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent"/>

        <activity android:name=".account.activity.AccountVerifyActivity"
            android:label="@string/account_verify_acitivtiy_title"
            android:theme="@style/AccountVerifyTheme"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait">
            <intent-filter>
               <action android:name="com.letv.wallet.accountverify" />
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <service
            android:name=".account.service.AccountService">
            <intent-filter>
                <action android:name="com.letv.wallet.ACTION_SERVICE_LEPAYACCOUNT" />
            </intent-filter>
        </service>

        <!-- wallet common start -->
        <receiver android:name="com.letv.wallet.common.receiver.AccountChangedReceiver">
            <intent-filter>
                <action android:name="com.letv.android.account.ACTION_LOGIN" />
                <action android:name="com.letv.android.account.ACTION_LOGOUT" />
                <action android:name="com.letv.android.account.ACTION_LOGOUT_SAVE" />
                <action android:name="com.letv.android.account.ACTION_TOKEN_UPDATE" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.letv.wallet.common.receiver.ConnectivityStateChangedReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <!-- wallet common end -->

        <activity
            android:name=".account.activity.AccountWebActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/SettingWebTheme" />

        <activity android:name=".account.activity.CardListActivity"
            android:label="@string/account_card_title"
            android:screenOrientation="portrait"
            android:theme="@style/AccountVerifyTheme">
            <intent-filter>
                <action android:name="com.letv.wallet.cardlist" />
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

    </application>

</manifest>